.container {
  width: 100vw;
  min-height: 100vh;
  background-size: 100% 100%;
  overflow-x: hidden;
  position: relative;
  // top: 0;
  padding-top: 38vw;

  .ruleContainer {
    position: fixed;
    z-index: 25;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: #333333;

    .ruleContent {
      // background-image: url('/pc/sec3/rule_bg.png');
      background-size: 100% 100%;
      padding: 5vw 9vw 15vw;

      .ruleTit {
        font-family: "CJNgaiPRCHK-Bold";
        font-weight: bold;
        font-size: 0.3rem;
        color: #000;
        margin-bottom: 0.2rem;
        margin-top: 0.2rem;
      }

      .ruleDetail {
        width: 72vw;
        font-size: .14rem;
        text-indent: .28rem;
        white-space: pre-wrap;
        text-align: left;
        word-break: break-all;
      }
    }

    .closeBtn {
      width: 50vw;
      margin-top: .3rem;
    }
  }

  .contentContainer {
    width: 84vw;
    position: relative;

    .ruleTips {
      font-size: 0.18rem;
      color: #fff;
      top: 0;
      margin: 0.13rem 0;

      img {
        width: 0.18rem;
        margin-left: 0.1rem;
      }

      &.ruleTipsR {
        margin: .13rem;
      }
    }

    .contTop {
      background-size: 100% 100%;
      padding: 7vw;

      .leftItem {
        &+.leftItem {
          margin-left: 3vw;
        }

        .hBtn {
          width: 37vw;
          margin-top: 0.05rem;
        }

        .leftItemTop {
          background-size: 100% 100%;
          padding: .18rem .16rem .18rem .15rem;

          .titP {
            color: #151416;
            font-size: .13rem;

            &+div {
              color: #151416;
              font-size: .13rem;

              p:nth-of-type(2) {
                color: #D0751C;
                font-size: .14rem;
                font-weight: bold;
              }
            }
          }

          .fbPrizeItem {
            margin-top: .1rem;

            &+.fbPrizeItem {
              margin-left: .1rem;
            }

            .imgContainer {
              background-size: 100% 100%;
              width: .43rem;
              height: .35rem;
              padding: 0.05rem;

              img {
                width: 70%;
                max-height: 95%;
              }

              &+span {
                font-size: 0.12rem;
                transform: scale(85%);
                color: #433B38;
                -webkit-line-clamp: 2;
                height: 0.26rem;
                display: block;
                white-space: pre-wrap;
                font-weight: bold;
                transform-origin: top;
                text-align: center;
                width: 0.55rem;
                &.allowWidth {
                  width: 28vw;
                  height: 0.14rem;
                }
              }
            }
          }
        }
      }
    }

    .lineContainer {
      align-self: stretch;
      margin: -5vw 0;
      position: relative;

      &>img {
        height: 20vw;
      }
    }

    .contBtm {
      background-size: 100% 100%;
      padding: 6vw;

      .inviteBtn {
        margin-top: .15rem;
        width: 79vw;
      }

      .inviteUl {
        width: 78vw;
        justify-content: space-evenly;

        .rPrizeItem {
          background-size: 100% 100%;
          padding: 4vw 3vw;
          .rPrizeTit {
            color: #151416;
            font-size: 0.14rem;
            margin-bottom: 0.1rem;
            p:nth-of-type(2){
              color:#D0751C;
              font-size: .15rem;
              font-weight: bold;
              margin-left: .05rem;
            }
          }
          .rPrize {
            &+.rPrize{
              margin-top: .1rem;
            }
            .imgContainer {
              background-size: 100% 100%;
              width: .43rem;
              height: .35rem;
              padding: 0.05rem;
  
              img {
                width: 70%;
                max-height: 95%;
              }
  
              &+span {
                font-size: 0.12rem;
                transform: scale(85%);
                color: #433B38;
                width: 0.51rem;
                height: 0.27rem;
                display: block;
                white-space: pre-wrap;
                font-weight: bold;
                transform-origin: top;
                text-align: center;
                -webkit-line-clamp: 2;
              }
            }
          } 
        }
      }
    }
  }
}