.container{
  width: 100%;
  height: 100vh;
  // background-image: url('/pc/sec5Bg.png');
  background-size: 100% 100%;
  position: relative;
  overflow: hidden;
  .ctrlOut {
    position: absolute;
    bottom: 5%;
    .avatarItem {
      width: 1rem;
      margin: 0 .2rem;
      img {
        width: 100%;
      }
    }
  }
  .roleShow {
    width: 53%;
    margin-left: 6%;
    .roleImgItem {
      width: 100%;
      height: 100%;
      overflow: hidden;
      img {
        height: 100vh;
      }
      &.show {
        display: block;
      }
      &.hide {
        display: none;
      }
    }
  }
  .wordShow {
    transform: translateX(-5vw);
    padding-top: 1.2rem;
    .titImg {
      width: 4rem;
      margin-bottom: 0.15rem;
      transform: translateX(-0.35rem);
    }
    .splitImg{
      position: absolute;
      left: 0;
      width: 7.5rem;
      top: 2.25rem;
      transform: translate(-1.5rem, 0);
    }
    .wordContainer {
      &.show {
        display: block;
      }
      &.hide {
        display: none;
      }
      .title {
        font-size: .8rem;
        font-family: 'Source Han Sans SC';
        font-weight: 800;
        color: #FFFFFF;
      }
      .keyContainer {
        background: #fff;
        padding: .05rem .4rem;
        font-size: .28rem;
        border-radius: 0.08rem;
        color: #000;
        margin-top: .25rem;
        width: max-content;
        .cusDot {
          width: .1rem;
          height: .1rem;
          border-radius: 50%;
          background: #000;
          display: inline-block;
          margin: 0 .2rem;
        }
      }
      .desc {
        max-width: 6.5rem;
        font-size: 0.24rem;
        color: #fff;
        white-space: pre-wrap;
        word-break: break-all;
        margin-top: 0.6rem;
        line-height: 2.2;
      }
      .qShow {
        width: 3rem;
        margin-top: 0.27rem;
      }
    }
  }
}

@media screen and (max-width: 1680px) {
  .wordShow {
    zoom: 0.89;
  }
}